@charset "UTF-8";
/* Create an animation to move in from left */
@keyframes moveInLeft {
  /* inital state */
  0% {
    opacity: 0;
    /* make it move on the X axis, left to right */
    transform: translateX(-10rem); }
  /* Create a bouncing effect */
  80% {
    transform: translateX(1rem); }
  /* final state */
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* Create an animation to move in from right */
@keyframes moveInRight {
  /* inital state */
  0% {
    opacity: 0;
    /* make it move on the X axis, right to left */
    transform: translateX(10rem); }
  /* Create a bouncing effect */
  80% {
    transform: translateX(-1rem); }
  /* final state */
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* Create an animation to move in from bottom */
@keyframes moveInBottom {
  /* inital state */
  0% {
    opacity: 0;
    /* make it move on the X axis, right to left */
    transform: translateY(3rem); }
  /* Create a bouncing effect */
  80% {
    transform: translateY(-1rem); }
  /* final state */
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Universal selector, as a 'reset'
   on all elements of the page 
   on all ::after and ::before pseudo elements

   It is an improvement / best practice
*/
*, *::after, *::before {
  /* reset default browser margin and padding */
  margin: 0;
  padding: 0;
  /* Define that each element of the first element that willhave a box-sizing declaration
     will inherit whatever next element */
  box-sizing: inherit; }

html {
  /* Browser default value is 16px
    to make our life ieasier when using rem unit in child elements,
    where font-size declarations rely on the roo font-size,
    defining root font-size to 10px is simpler than using 16px
    
    Defines what 1rem is so no need to move it to typography
    as it is a generic setting
    */
  font-size: 62.5%; }

body {
  /* box-sizing: border-box: explanations 
    
    if you assign a div as
    {
        box-sizing: border-box;
        width:100px; 
        height:100px;
        padding:10px;
        border:1px solid #000;
    }
    then the box will be 100px width and 100px height, include border, 
    the space you can put things in is 78px height and 78px width.
    100 (actual width) - 2 (both side border) - 20 (both side padding) = 78
    
    if you modify box-sizing to content-box, 
    then the box will be 122px height and 122px width include border,
    the space you can put stuff in is 100px height and 100px width.
    122 (actual width) = 100 (content) + 20 (both side padding) + 2 (both side border)
    
    */
  box-sizing: border-box; }

body {
  /* Best practice: always anyting related to fonts in body */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* x1.7 bigger the normal line height */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.header-primary {
  color: #fff;
  text-transform: uppercase;
  /* 
        determines if the back of an element
        is visible during an animation

        fixes lttle shaking during animation
     */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .header-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* function to describe how the animation will progress */
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
  .header-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    /* function to describe how the animation will progress */
    animation-timing-function: ease-in; }

.header-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /* These 3 CSS declarations below are later replace by elementGradient mixin */
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .header-secondary:hover {
    transform: skewY(2deg); }

.header-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.main-background-gradient {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }

.icon-big {
  font-size: 8rem; }

.icon-medium {
  font-size: 4rem; }

.icon-small {
  font-size: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-top-huge {
  margin-bottom: 10rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.u-margin-top-medium {
  margin-bottom: 4rem; }

.u-margin-top-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn {
  /* :link, 
    :visited ...
    pseudo class state for special conditions */
  /* when hovering btn */
  /* when clicking btn */
  /* ::after put something behind the element
    ::after pseudo element is treated like a child of the btn element */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* inline-block makes the element not overlap the element above 
         therefore we can treat the element as a text => text-center in parent*/
    display: inline-block;
    border-radius: 10rem;
    /* Short-end version for quick animation without bothering */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    /* show box offset-x | offset-y | blur-radius | color */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    /* pseudo element ::after only on the :over state */ }
    .btn:hover::after {
      /* double the scale of the pseudo element */
      transform: scaleX(1.4) scaleY(1);
      opacity: 0;
      /* !! always define the animation from the parent element, here the :after state */ }
  .btn:active {
    transform: translateY(-0.1rem);
    /* show box offset-x | offset-y | blur-radius | color */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn::after {
    /* to be at the same position of the effects in ::hover */
    transform: translateY(0); }
  .btn--white {
    background-color: #fff;
    color: #777;
    /* ::after put something behind the element
        ::after pseudo element is treated like a child of the btn element */ }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff;
    /* ::after put something behind the element
        ::after pseudo element is treated like a child of the btn element */ }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    /* mandatory so the pseudo element appears */
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* put the pseudo element behind the parent element */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* enable child elements transitions animations */
    transition: all .4s; }
  .btn--animated {
    /* shortened version animation the element */
    animation: moveInBottom .5s ease-out .75s;
    /* for practicality, instead of putting the animation on the parent .btn element
        * we can specify it here with animation-fill-mode: backwards
        * which forces the browser to execute the animation first 
        * before the parent element appears
        */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  /* enable child elements transitions animations */
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    /* fix the collapsing of the block due to position: absolute*/
    width: 100%;
    backface-visibility: hidden;
    /**/
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    z-index: 0; }
  .card:hover .card__side--back {
    transform: rotateY(0);
    z-index: 1; }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__header {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__header-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__header-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__header-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__header-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  /* Short-end version for quick animation without bothering */
  transition: transform .4s; }
  .feature-box__icon {
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.row {
  /*
     we set our default font-size to 10px
     we want our row to be 1140px

     using max-width so when the screen is smaller
     the viewport use the width available
    */
  max-width: 114rem;
  /* trick to center inner elements
    the browser will automatically figure out 
    the L/R margins
    */
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  /* 95% of the viewport height */
  height: 95vh;
  /* property values precedences are from left (1st) to right (last)
        * linear-gradient will be then on top of image
         */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  /* AMAZING: fit the viewport view removing image repetition */
  background-size: cover;
  background-position: top;
  position: relative;
  /* Handle the display of elegant white cut in the header image 
            by moving the points locations of the header box corners
            takes coordinates: 
            1st -> top left: x y, 
            2nd -> top right: x y,
            3rd -> bottom right: x y,
            4th -> bottm left x y 
        */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* left and top related to the parent element */
    left: 50%;
    top: 40%;
    /* related to element itself
            
                translate on x and y
                -50% are relation to the element 
                but not to the parent
                shift -50% to the top
                shift -50% to the left
            */
    transform: translate(-50%, -50%);
    text-align: center; }

.second-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* unused
    * height: 75vh;
    * clip-path: polygon( 0 10vh, 100% 0, 100% 65vh, 0 100%);
    */
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

/* BEM class naming convention 
    Blocks – Elements – Modifiers
    https://getbem.com/introduction/
*/
