.feature-box {
    background-color: rgba($colour-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: $base-border-radius;
    @include long_box_shadow();
    
    transition: transform .3s;

    /* Short-end version for quick animation without bothering */
    transition: transform .4s;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        @include elementGradient;
    }

    &:hover{
        // transform: translateY(-1.5rem);
        // transform: scale(1.03);
        transform: translateY(-1.5rem)  scale(1.03);
    }
}