// Colours
$colour-black: #000;
$colour-grey-dark: #777;
$colour-grey-light-1:#f7f7f7;
$colour-grey-light-2:#eee;
$colour-primary-dark: #28b485;
$colour-primary-light: #7ed56f;
$colour-primary: #55c57a;
$colour-secondary-dark: #ff7730;
$colour-secondary-light: #ffb900;
$colour-tertiary-dark: #5643fa;
$colour-tertiary-light: #2998ff;
$colour-white: #fff;

// Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

// Fonts
$default-font-size: 1.6rem;