


/* Universal selector, as a 'reset'
   on all elements of the page 
   on all ::after and ::before pseudo elements

   It is an improvement / best practice
*/
*, *::after,*::before {
    /* reset default browser margin and padding */
    margin: 0;
    padding: 0;
    /* Define that each element of the first element that willhave a box-sizing declaration
     will inherit whatever next element */
    box-sizing: inherit;
}

html{
    /* Browser default value is 16px
    to make our life ieasier when using rem unit in child elements,
    where font-size declarations rely on the roo font-size,
    defining root font-size to 10px is simpler than using 16px
    
    Defines what 1rem is so no need to move it to typography
    as it is a generic setting
    */
    font-size:  62.5%; //standard:  1rem = 10px => 10/16px = 62.5%

    /** 
    This one is deactivated because
    it is covered by tab-port
    */
    // @include respond(phone){
    //     font-size:  50%;
    // }
    
    /* ORDER HAS TO BE RESPECTED :
    if desktop first then ALWAYS THE LARGE BEFORE THE SMALLER */

    @include respond(tab-land){ // width < 1200 ?
        font-size:  56.25%; // 1rem = 9px => 9/16px = 56.25%
    }

    @include respond(tab-port){ // width < 900 ?
        font-size:  50%; // 1rem = 8px => 8/16px = 50%
    }

    @include respond(phone){
        font-size:  30%;
    }

    // as it is min, then it is last

    @include respond(big-desktop){
        font-size:  75%; // 1rem = 12px => 12/16px = 75%
    }
}

body {
    /* box-sizing: border-box: explanations 
    
    if you assign a div as
    {
        box-sizing: border-box;
        width:100px; 
        height:100px;
        padding:10px;
        border:1px solid #000;
    }
    then the box will be 100px width and 100px height, include border, 
    the space you can put things in is 78px height and 78px width.
    100 (actual width) - 2 (both side border) - 20 (both side padding) = 78
    
    if you modify box-sizing to content-box, 
    then the box will be 122px height and 122px width include border,
    the space you can put stuff in is 100px height and 100px width.
    122 (actual width) = 100 (content) + 20 (both side padding) + 2 (both side border)
    
    */
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){ // width < 900 ?
        padding: 0;
    }
}