body {
    /* Best practice: always anyting related to fonts in body */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    /* x1.7 bigger the normal line height */
    line-height: 1.7;
    color: $colour-grey-dark-1;
    padding: 3rem;
}

.header-primary {
    color: $colour-white;
    text-transform: uppercase;

    /* 
        determines if the back of an element
        is visible during an animation

        fixes lttle shaking during animation
     */
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        /* function to describe how the animation will progress */
        animation-timing-function: ease-out;


        /* animation-iteration-count: 3; */
        /* animation-delay: 3s; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;


        animation-name: moveInRight;
        animation-duration: 1s;
        /* function to describe how the animation will progress */
        animation-timing-function: ease-in;
    }
}

.header-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text; 
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    /* These 3 CSS declarations below are later replace by elementGradient mixin */

    // background-image: linear-gradient(to right, $colour-primary-light, $colour-primary-dark);

    // clip the colour gradient where the text is
    // -webkit-background-clip: text;

    // make the text take the gradient colour with transparent
    // color: transparent;

    @include elementGradient;

    // add spece between letters
    letter-spacing: .2rem;

    transition: all .2s;

    &:hover {
        // transform with skew effect 2 degrees on Y
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: .5rem 1rem 2rem rgba($colour-black, .2);
    }
}

.header-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    // select all except last child
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}