@mixin clearfix {
    // avoid the row to collapse because of the floating cols
    &::after{
        content: "";
        display: table;
        // clear any used float: left or float: right
        clear: both;
    }

}

// @mixin calculateWidth($colSpan, $nbColumns) {
//     /* 
//     1 - use #{} around SASS variables so it gets compiled
//     2 - $colSpan spreading size of the column
//     3 - $nb of columns included in row grid
//     */ 

//     // Get size of all gutters
//     // -1 is because we don't want a gutter after last column
//     $totalGuttersWidth: calc(#{$nbColumns} - 1) * #{$gutter-horizontal};

//     // initial column width
//     $initColumnWidth: calc((100% - #{$totalGuttersWidth}) / #{$nbColumns});

//     // eventually return the actual column width
//     width: calc((#{$colSpan} * $initColumnWidth) + ();
// }